body{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
   
}



#topT{
    
    height: 10vh;
    display: flex;
    flex-direction: column;
    
    border-bottom: 2px solid #0a0a0a;
}

#app{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    
}

#menu{
    margin-left: 20px;
    height: 90%;
    width: 25%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    border: solid #0a0a0a;
    margin-right: 1vh;
    box-shadow: #0a0a0a;
    
}

#menu_title{

    display: flex;
    height: inherit;
    width: 15%;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    font-weight: 600;

}



#title{
    padding: 2%;
}

.but{
    height: 7vh;
    width: 14vh;
    border-radius: 5px;
    border: 2px solid #0a0a0a ;
    background-color: #fff;
    color: #0a0a0a;
    transition: all 0.2s ease;
}

.but:hover{
    transform: scale(1.1);
    background-color: #0a0a0a;
    color: #fff;
}

.sld{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#cont-but{
    height: 40%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  
}

.row-but{
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#cont-inter{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 10%;
    

}


.inter{
    width: 30%;
    border: 1px solid #0a0a0a50;
    border-radius: 5px;
    padding: 3px;
}

#gradosinp{
    width: 70%;
    border: 1px solid #0a0a0a50;
    border-radius: 5px;
    padding: 3px;
}

#sliderN{
    width: 70%;
    border: 1px solid #0a0a0a50;
    border-radius: 5px;
    padding: 3px;
}

#grfbtn{
    height: 7vh;
    width: 14vh;
    border-radius: 5px;
    border: 2px solid #0a0a0a ;
    background-color: #fff;
    color: #0a0a0a;
    transition: all 0.2s ease;
}

#grfbtn:hover{
    transform: scale(1.1);
    background-color: #0a0a0a;
    color: #fff;
}