body{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#menu{
    height: 10vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: solid #0a0a0a;
    margin-bottom: 1vh;
    
}

#menu_title{

    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    font-weight: 600;

}

#menu_op{
    width: 100%;
    height: inherit;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    
}

#title{
    padding: 2%;
}

.but{
    height: 45%;
    width: 10vh;
    border-radius: 5px;
    border: 2px solid #0a0a0a ;
    background-color: #fff;
    color: #0a0a0a;
    transition: all 0.2s ease;
}

.but:hover{
    transform: scale(1.1);
    background-color: #0a0a0a;
    color: #fff;
}

.sld{
    display: flex;
    flex-direction: column;
    align-items: center;
}
